* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;

}

body>div {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom right, red, yellow);
    display: flex;
    align-items: center;
    justify-content: center;

}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.content {
    /* position: absolute; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 78px;
}

h2 {
    font-size: 78px;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.9);
    position: relative;
}

h2::after {
    font-size: 30px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
}

#days::after {
    content: "Days";
}

#hours::after {
    content: "Hours";
}

#minutes::after {
    content: "Minutes";
}

#seconds::after {
    content: "Seconds";
}

.content p {
    height: 110px;
    width: auto;
}

@media only screen and (max-width: 560px) {

    h2 {
        font-size: 39px;
        height: 60px;
        width: 60px;
        border-radius: 10px ;
    }

    h2::after {
        font-size: 15px;
        bottom: -20px;
    }
    h4{
        font-size: 39px;
    }
}

.Btns{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.Btns button{
    width: 9%;
    height: 43px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #cd6804;
    color: white;
    cursor: pointer;
    box-shadow: #f7c696 1px 1px 10px 5px;
    transition: all 0.5s ease;
}

.Btns button:hover{
    scale: 1.07;
    background-color: #B25800;
}

.stopWatch{
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px  black;
    color: #D83500;
}